<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragment/layout :: head">
        <title>Muistilista - Muokkaa tehtävää</title>
    </head>
    <body>
        <div class="container">
            <h1>Tehtävä</h1>
            <p>
                Käyttäjä: <span th:text="${item.owner.name}">Matti Meikäläinen</span>
            </p>
            <form th:action="@{/todo/{id}(id=${item.id})}" th:object="${todoItemForm}" method="POST">
                <div class="form-group">
                    <label for="description">Kuvaus:</label>
                    <input type="text" class="form-control" name="description" th:value="${item.description}" />
                    <p class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                </div>
                <div class="form-group">
                    <label for="categoryName">Kategoria:</label>
                    <input type="text" class="form-control" name="categoryName" th:value="${item.category.name}" />
                    <p class="error" th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}"></p>
                </div>
                <div class="form-group">
                    <label for="priority">Kiireellisyys:</label>
                    <select class="form-control" name="priority">
                        <option th:each="priority : ${T(wad.domain.TodoItem.Priority).values()}" th:value="${priority.name}" th:text="${priority}" th:attrappend="selected=${priority == item.priority}?'selected'">Priority level</option>
                    </select>
                    <p class="error" th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}"></p>
                </div>
                <input type="submit" value="Päivitä" class="btn btn-primary" />
                <a type="button" class="btn btn-link" th:href="@{/}">Peruuta</a>
            </form>
        </div>
        <footer th:replace="fragment/layout :: footer"></footer>
        <div th:include="fragment/layout :: footer-scripts"></div>
    </body>
</html>
