<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragment/layout :: head">
        <title id="pageTitle">Muistilista</title>
    </head>
    <body>
        <div class="container">
            <h1>Tehtävää</h1>
            <ul>
                <li th:each="category : ${itemNode.subcategories}" >
                    <span th:text="${category.name}">Category</span>
                    <div th:with="category = ${category}" th:include="fragment/list :: sublist" th:remove="tag" />
                </li>
                <li th:each="item : ${itemNode.items}">
                    <div th:with="item = ${item}" th:include="fragment/list :: item" th:remove="tag" />
                </li>
            </ul>
        </div>
        <div class="container">
            <h4>Lisää tehtävä</h4>
            <form th:include="fragment/form :: addItem" th:remove="tag"></form>
            <h4>Lisää kategoria</h4>
            <form th:include="fragment/form :: addCategory" th:remove="tag"></form>
        </div>
        <footer th:replace="fragment/layout :: footer"></footer>
        <div th:include="fragment/layout :: footer-scripts"></div>
    </body>
</html>
