<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragment/layout :: head">
        <title id="pageTitle">Muistilista</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <h3>Luo tili</h3>
                    <form th:action="@{/signup}" method="post" th:object="${person}">
                        <div class="form-group">
                            <label for="name">Nimi:</label>
                            <input type="text" th:field="*{name}" class="form-control"/>
                            <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">ei kelpaa</p>
                        </div>
                        <div class="form-group">
                            <label for="username">Käyttäjänimi:</label>
                            <input type="text" th:field="*{username}" class="form-control"/>
                            <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">ei kelpaa</p>
                        </div>
                        <div class="form-group">
                            <label for="password">Salasana:</label>
                            <input type="password" th:field="*{password}" class="form-control"/>
                            <p class="text-danger" th:if="${#fields.hasErrors('password')}">Salasana ei kelpaa</p>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Liity joukkoon!"/>
                    </form>
                </div>
            </div>
        </div>
        <footer th:replace="fragment/layout :: footer"></footer>
        <div th:include="fragment/layout :: footer-scripts"></div>
    </body>
</html>
